.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 119px 12px 12px;
  max-width: 295px;
  max-height: 42px;
}
