.container {
  max-width: 375px;
  background: #f9f9f9;
  height: 100vh;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.secondBlock {
  background: #fff;
  border-radius: 30px;
  width: 335px;
  height: 422px;
  margin: 10px 20px 20px 20px;
}

.contentWrapper {
  padding: 27px 20px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #262626;
  padding-bottom: 12px;
  margin: 0;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #262626;
  max-width: 296px;
  margin: 0;
  padding-bottom: 24px;
}

.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.label {
  position: relative;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 119px 12px 12px;
}

.svgWrapper {
  position: absolute;
  top: 12px;
  right: 12px;
}

.btn {
  border-radius: 30px;
  padding: 12px 99px;
  width: 295px;
  height: 42px;
  background: #f6b83d;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  border: none;
}

.registerText {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  padding-top: 12px;
  display: flex;
  justify-content: center;
}

.wordRegister {
  font-weight: 700;
  text-decoration: none;
  text-decoration-skip-ink: none;
  color: #f6b83d;
  background: #f9f9f9;
}
