.container {
  padding: 10px 20px;
  max-width: 375px;
}

.wrapperTwoBlock {
  background: #f6b83d;
  border-radius: 30px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 295px;
  margin: 0;
  padding: 60px 20px 24px 20px;
}

.span {
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
  margin: 0;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
}

.img {
  border-radius: 30px;
}
